################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebformReal/FileContentIndex/83ccbf5a-a8b5-4a3e-898c-9884ffb4f74f.vsidx
/.vs/WebformReal/FileContentIndex/ca2f0802-8a30-4e69-bae2-adf0810e295f.vsidx
/.vs/WebformReal/FileContentIndex/dc523881-7b43-4eb7-b1fd-5b3b156bf20e.vsidx
