/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.row {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Navbar styles */
.navbar {
    background-color: #255932; /* Purple background color */
    color: #fff; /* Text color */
    text-align: center;
    padding: 15px 0;
    position: fixed;
    top: 0; /* Stick it to the top of the page */
    width: 100%;
    height: 55px;
    z-index: 2; /* Place the navbar above the menu overlay */
}



    .navbar h1 {
        margin: 0;
        font-size: 24px;
        margin-top: -10px;
    }



.empty-space {
    height: 100px; /* Adjust the height as needed */
}



/* Menu button styles */
.menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 53px;
    margin-right: 10px;
    z-index: 3; /* Place the menu button above the menu overlay */
    position: relative; /* Add relative positioning to use z-index */
    padding: 5px;
}



.menu-icon {
    background-color: #fff;
    height: 3px;
    width: 30px;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 5px;
}



/* Menu styles */
.menu {
    position: fixed;
    top: 84px; /* Adjust this value to match your navbar height */
    left: -250px; /* Initially hide the menu off-screen */
    width: 250px;
    height: 100%;
    background-color: #2c5d42;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Place the menu below the navbar */
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
}



    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }



    .menu li {
        border-bottom: 1px solid #ccc;
    }



    .menu a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 20px;
    }



        .menu a:hover {
            background-color: #25775b;
            /*padding: 6px;
            margin-right: 40px;*/
        }



    /* Show the menu when the show-menu class is applied */
    .menu.show-menu {
        left: 0;
        pointer-events: auto;
    }




/* Menu overlay styles */
.menu-overlay {
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    width: 100%;
    height: calc(100% - 84px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0; /* Place the menu overlay below the menu */
}



/* Display the menu overlay when the show-menu class is applied */
.menu.show-menu + .menu-overlay {
    display: block;
}



/* Create New Item Button styles */
.create-button {
    text-align: right; /* Align to the right */
    margin-top: -20px; /* Adjust the margin to move it up */
    margin-right: 10px;
}



.create-link {
    background-color: #678b1c; /* Green button color */
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}



    .create-link:hover {
        background-color: #25775b; /* Darker green on hover */
    }

h4 {
    font-size: 24px;
    margin: 0px;
    text-align: center;
    background-color: #255932;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 0px;
    color: white;
}

.details1 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 140px auto; /* Adjust top margin for centering */

    border-radius: 2px;
}

.details2 {
    margin: 0px;
}

.horizontal1 dt {
    font-weight: bold;
    padding-left: 15px;
    width: 20%;
}

.horizontal1 dd {
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 10px;
}

.actions {
    text-align: center;
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

    .actions a {
        text-decoration: none;
        margin: 0 10px;
    }

        .actions a:hover {
            /*            text-decoration: underline;
*/ background: #25775b;
        }

.ddata {
    display: flex;
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    padding: 10px 0px;
}

/*.ldata {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}*/

.ab {
    display: inline-block;
    padding: 5px 8px;
    background-color: #678b1c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px 0px 10px 133px;
}
.aab {
    display: inline-block;
    padding: 5px 8px;
    background-color: #678b1c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px 0px 10px 10px;
    border: none;
}

.abc {
    padding: 25px 20px;
    background-color: #498;
    color: #fff;
    text-decoration: none;
    margin: -10px;
    border: solid 0.5px darkcyan;
}

    .abc:hover {
        background: highlight;
    }


.card1 {
    width: 600px;
    margin: 150px auto;
}

.card2 {
    width: 600px;
    margin: 30px auto;
}

.ddata:nth-child(even) {
    background-color: #dff5e5; /* Background color for even rows */
}


.confirmation-message {
    color: black; /* Initial color */
    margin-top: 120px;
    text-align: center;
    animation: colorTransition 1s ease-in-out forwards; /* Add a color transition animation */
}

.transition-color {
    animation: colorTransition 1s linear infinite alternate;
}

@keyframes colorTransition {
    0% {
        color: black; /* Start with black */
    }

    100% {
        color: red; /* Transition to red */
    }
}


@media (max-width: 768px) {
    .details1 {
        max-width: 90%; /* Adjust the max-width for smaller screens */
    }
}
